<div>
  <div class="containers" #bg>
  </div>
  <div class="bgimg">
    <div class="logo">
      <img src="../../../assets/main/logostou.png" alt="..." class="rounded-circle">
      <br>
      <span class="title">补货人员补水系统</span>
    </div>
    <div class="context" *ngIf="isFiveDoor">
      <div (click)="openDoor(indexList[0])" class="boxss card text-white addMain-bottom">
        <div style="text-align: center">
          <!--<img style="width: 25px;height: 25px" src="{{img}}{{indexList[3]['pic']}}" alt="">-->
          <img class="addMain-img" src="{{img}}{{indexList[0]['pic']}}" alt="">
          <!--<br/>-->
          <p style="margin-top: 2px" class="text-custom">{{indexList[0]['itemName']}}</p>
          <p class="text-custom">容量:当前{{indexList[0]['num']}}/最大{{indexList[0]['fullNum']}}桶</p>
          <p class="text-custom">重量{{indexList[0]['weight']}}</p>
          <p class="text-custom">{{indexList[0]['price']}}元</p>
        </div>
      </div>
      <div (click)="openDoor(indexList[1])" class="boxss card text-white addMain-bottom">
        <div style="text-align: center">
          <!--<img style="width: 25px;height: 25px" src="{{img}}{{indexList[4]['pic']}}" alt="">-->
          <!--<br/>-->
          <img class="addMain-img" src="{{img}}{{indexList[1]['pic']}}" alt="">
          <p style="margin-top: 2px" class="text-custom">{{indexList[1]['itemName']}}</p>
          <p class="text-custom">容量:当前{{indexList[1]['num']}}/最大{{indexList[1]['fullNum']}}桶</p>
          <p class="text-custom">重量{{indexList[1]['weight']}}</p>
          <p class="text-custom">{{indexList[1]['price']}}元</p>
        </div>
      </div>
      <div (click)="openDoor(indexList[2])" class="boxs card text-white addMain-bottom">
        <div style="text-align: center">
          <!--<img style="width: 25px;height: 25px" src="{{img}}{{indexList[2]['pic']}}" alt="">-->
          <!--<br/>-->
          <img class="addMain-img" src="{{img}}{{indexList[2]['pic']}}" alt="">
          <p style="margin-top: 2px" class="text-custom">{{indexList[2]['itemName']}}</p>
          <p class="text-custom">容量:当前{{indexList[2]['num']}}/最大{{indexList[2]['fullNum']}}桶</p>
          <p class="text-custom">重量{{indexList[2]['weight']}}</p>
          <p class="text-custom">{{indexList[2]['price']}}元</p>
        </div>
      </div>
      <div (click)="openDoor(indexList[3])" class="boxss card text-white addMain-bottom">
        <div style="text-align: center">
          <!--<img style="width: 25px;height: 25px" src="{{img}}{{indexList[0]['pic']}}" alt="">-->
          <!--<br/>-->
          <img class="addMain-img" src="{{img}}{{indexList[3]['pic']}}" alt="">
          <p style="margin-top: 2px" class="text-custom">{{indexList[3]['itemName']}}</p>
          <p class="text-custom">容量:当前{{indexList[3]['num']}}/最大{{indexList[3]['fullNum']}}桶</p>
          <p class="text-custom">重量{{indexList[3]['weight']}}</p>
          <p class="text-custom">{{indexList[3]['price']}}元</p>
        </div>
      </div>
      <div (click)="openDoor(indexList[4])" class="boxss card text-white addMain-bottom">
        <div style="text-align: center">
          <!--<img style="width: 25px;height: 25px" src="{{img}}{{indexList[1]['pic']}}" alt="">-->
          <!--<br/>-->
          <img class="addMain-img" src="{{img}}{{indexList[4]['pic']}}" alt="">
          <p style="margin-top: 2px" class="text-custom">{{indexList[4]['itemName']}}</p>
          <p class="text-custom">容量:当前{{indexList[4]['num']}}/最大{{indexList[4]['fullNum']}}桶</p>
          <p class="text-custom">重量{{indexList[4]['weight']}}</p>
          <p class="text-custom">{{indexList[4]['price']}}元</p>
        </div>
      </div>
    </div>
    <div class="context" *ngIf="isFourDoor">
        <div (click)="openDoor(item)" *ngFor="let item of indexList" class="box card text-white mb-3">
          <div class="box-body">
            <img style="width: 55px;height: 55px" src="{{img}}{{item['pic']}}" alt="">
            <br/>
            <p class="text-customs">{{item['itemName']}}</p>
            <p class="text-customs">当前{{item['num']}}桶</p>
            <p class="text-customs">重量{{item['weight']}}</p>
            <p class="text-customs">最大容量{{item['fullNum']}}桶</p>
            <p class="text-customs">{{item['price']}}元</p>
          </div>
        </div>
    </div>
    <!--<div class="foot">-->
      <!--<img class="foot-img" src="../../../assets/main/logo1.png" alt="">-->
    <!--</div>-->
    <div class="my-product">
      <button (click)="resetNum()" type="button" class="btn btn-primary" style="background: #117cbb">校准所有数量</button>
    </div>
    <div class="my-reset">
      <button (click)="resetWeight()" type="button" class="btn btn-primary" style="background: #117cbb">校准</button>
      <p style="color: white;font-size: 17px">{{temperature}}</p>
    </div>
    <div class="my-restart">
      <button (click)="reStart()" type="button" class="btn btn-primary" style="background: #117cbb">重启</button>
    </div>
    <div class="my-open">
      <button (click)="openAll()" type="button" class="btn btn-primary" style="background: #117cbb">一键开门</button>
    </div>
  </div>
  <nz-modal [nzVisible]="isVisibleOpenDoor" [nzContent]="modalContents" [nzFooter]="modalFooters" [nzClosable]="false">
    <ng-template #modalContents #modalFooters style="text-align: center">
      <p style="font-size: medium;">次数:{{times}}次</p>
      <br>
      <div>
        <nz-radio-group [(ngModel)]="wayNo" [nzSize]="'large'" *ngIf="isFiveDoor">
          <label class="radio-size" nz-radio-button [nzValue]="'5'" [nzDisabled]="times === 2">
            <span>5号门</span>
          </label>
        </nz-radio-group>
        <nz-radio-group [(ngModel)]="wayNo" [nzSize]="'large'">
          <label class="radio-size" nz-radio-button [nzValue]="'3'" [nzDisabled]="times === 2">
            <span>3号门</span>
          </label>
          <label class="radio-size" nz-radio-button [nzValue]="'4'" [nzDisabled]="times === 2">
            <span>4号门</span>
          </label>
        </nz-radio-group>
        <br>
        <nz-radio-group [(ngModel)]="wayNo" [nzSize]="'large'">
          <label class="radio-size" nz-radio-button [nzValue]="'1'" [nzDisabled]="times === 2">
            <span>1号门</span>
          </label>
          <label class="radio-size" nz-radio-button [nzValue]="'2'" [nzDisabled]="times === 2">
            <span>2号门</span>
          </label>
        </nz-radio-group>
      </div>
      <br>
      <nz-input-number style="width: 100%;" [(ngModel)]="num" [nzPlaceHolder]="'请输入桶数'" [nzMin]="0" [nzMax]="99999999" [nzStep]="1"></nz-input-number>
      <!--<nz-input-number style="width: 100%;" [(ngModel)]="wayNo" [nzPlaceHolder]="'请输入货道'" [nzMin]="1" [nzMax]="4" [nzStep]="1" [nzDisabled]="count === 2"></nz-input-number>-->
    </ng-template>
    <ng-template #modalFooters style="text-align: center">
      <button nz-button nzType="primary" style="visibility: hidden;">否</button>
      <button nz-button nzType="primary" style="margin-right: -15px" (click)="yes()">确定</button>
      <button nz-button nzType="primary" style="visibility: hidden">否</button>
      <button nz-button nzType="primary" style="visibility: hidden">否</button>
      <button nz-button nzType="primary" style="visibility: hidden">否</button>
    </ng-template>
  </nz-modal>

  <nz-modal [nzVisible]="isVisibleOpen" [nzContent]="modalContent" [nzFooter]="modalFooter" [nzClosable]="false">
    <ng-template #modalContent>
      <p style="font-size: medium;">优水到家提醒您,补水后请随手关门</p>
    </ng-template>
    <ng-template #modalFooter>
      <button nz-button nzType="primary" (click)="openOk()">关闭</button>
    </ng-template>
  </nz-modal>

  <div class="js_dialog" id="androidDialog2" [class]="loadingVisible ? 'mask-visible' : 'mask-invisible'">
    <div class="weui-mask"></div>
    <div class="weui-dialog weui-skin_android">
      <div class="weui-dialog__bd">
        <span>正在重启，请等待{{restartTimes}}秒</span>
      </div>
    </div>
  </div>
</div>
