<div>
  <div class="containers" #bg>
  </div>
  <div class="bgimg">
    <div class="logo">
      <img src="../../../assets/main/logostou.png" alt="..." class="rounded-circle">
      <br>
      <span class="title">补货人员补水系统</span>
    </div>
    <div class="context" *ngIf="isFiveDoor">
      <div (click)="openDoor(indexList[3])" class="boxss card text-white mb-3">
        <div style="text-align: center">
          <img style="width: 75px;height: 75px" src="{{img}}{{indexList[3]['pic']}}" alt="">
          <br/>
          <span class="card-title" style="color: white;font-weight: 900">{{indexList[3]['itemName']}}</span>
          <br/>
          <span class="card-title" style="color: white;font-weight: 900">{{indexList[3]['price']}}元</span>
        </div>
      </div>
      <div (click)="openDoor(indexList[3])" class="boxss card text-white mb-3">
        <div style="text-align: center">
          <img style="width: 75px;height: 75px" src="{{img}}{{indexList[3]['pic']}}" alt="">
          <br/>
          <span class="card-title" style="color: white;font-weight: 900">{{indexList[3]['itemName']}}</span>
          <br/>
          <span class="card-title" style="color: white;font-weight: 900">{{indexList[3]['price']}}元</span>
        </div>
      </div>
      <div (click)="openDoor(indexList[2])" class="boxs card text-white mb-3">
        <div style="text-align: center">
          <img style="width: 75px;height: 75px" src="{{img}}{{indexList[2]['pic']}}" alt="">
          <br/>
          <span class="card-title" style="color: white;font-weight: 900">{{indexList[2]['itemName']}}</span>
          <br/>
          <span class="card-title" style="color: white;font-weight: 900">{{indexList[2]['price']}}元</span>
        </div>
      </div>
      <div (click)="openDoor(indexList[0])" class="boxss card text-white mb-3">
        <div style="text-align: center">
          <img style="width: 75px;height: 75px" src="{{img}}{{indexList[0]['pic']}}" alt="">
          <br/>
          <span class="card-title" style="color: white;font-weight: 900">{{indexList[0]['itemName']}}</span>
          <br/>
          <span class="card-title" style="color: white;font-weight: 900">{{indexList[0]['price']}}元</span>
        </div>
      </div>
      <div (click)="openDoor(indexList[1])" class="boxss card text-white mb-3">
        <div style="text-align: center">
          <img style="width: 75px;height: 75px" src="{{img}}{{indexList[1]['pic']}}" alt="">
          <br/>
          <span class="card-title" style="color: white;font-weight: 900">{{indexList[1]['itemName']}}</span>
          <br/>
          <span class="card-title" style="color: white;font-weight: 900">{{indexList[1]['price']}}元</span>
        </div>
      </div>
    </div>
    <div class="context" *ngIf="isFourDoor">
        <div (click)="openDoor(item)" *ngFor="let item of indexList" class="box card text-white mb-3">
          <div class="box-body">
            <img style="width: 55px;height: 55px" src="{{img}}{{item['pic']}}" alt="">
            <br/>
            <p class="text-custom">{{item['itemName']}}</p>
            <p class="text-custom">当前{{item['num']}}桶</p>
            <p class="text-custom">重量{{item['weight']}}</p>
            <p class="text-custom">最大容量{{item['fullNum']}}桶</p>
            <p class="text-custom">{{item['price']}}元</p>
          </div>
        </div>
    </div>
    <!--<div class="foot">-->
      <!--<img class="foot-img" src="../../../assets/main/logo1.png" alt="">-->
    <!--</div>-->
    <div class="my-product">
      <button (click)="resetNum()" type="button" class="btn btn-primary" style="background: #117cbb">校准所有数量</button>
    </div>
    <div class="my-reset">
      <button (click)="resetWeight()" type="button" class="btn btn-primary" style="background: #117cbb">校准</button>
    </div>
  </div>
  <nz-modal [nzVisible]="isVisibleOpenDoor" [nzContent]="modalContents" [nzFooter]="modalFooters" [nzClosable]="false">
    <ng-template #modalContents #modalFooters style="text-align: center">
      <p style="font-size: medium;">次数:{{times}}次</p>
      <br>
      <nz-input-number style="width: 100%;" [(ngModel)]="num" [nzPlaceHolder]="'请输入桶数'" [nzMin]="1" [nzMax]="99999999" [nzStep]="1"></nz-input-number>
      <br>
      <br>
      <nz-input-number style="width: 100%;" [(ngModel)]="wayNo" [nzPlaceHolder]="'请输入货道'" [nzMin]="1" [nzMax]="4" [nzStep]="1" [nzDisabled]="count === 2"></nz-input-number>
    </ng-template>
    <ng-template #modalFooters style="text-align: center">
      <button nz-button nzType="primary" style="visibility: hidden;">否</button>
      <button nz-button nzType="primary" style="margin-right: -15px" (click)="yes()">确定</button>
      <button nz-button nzType="primary" style="visibility: hidden">否</button>
      <button nz-button nzType="primary" style="visibility: hidden">否</button>
      <button nz-button nzType="primary" style="visibility: hidden">否</button>
    </ng-template>
  </nz-modal>

  <nz-modal [nzVisible]="isVisibleOpen" [nzContent]="modalContent" [nzFooter]="modalFooter" [nzClosable]="false">
    <ng-template #modalContent>
      <p style="font-size: medium;">优水到家提醒您,补水后请随手关门</p>
    </ng-template>
    <ng-template #modalFooter>
      <button nz-button nzType="primary" (click)="openOk()">关闭</button>
    </ng-template>
  </nz-modal>
</div>
