<div class="containers">
</div>
<div class="logo">
  <!--<img src="../../assets/main/ys_logo.png" alt="..." class="rounded-circle" (ngSubmit)="_submitForm()">-->
  <h4 class="logo-title">智能卖客</h4>
</div>
<form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="_submitForm()">
  <div nz-form-item>
    <div nz-form-control>
      <nz-input [(ngModel)]="phone"  formControlName="userName" [nzPlaceHolder]="'账号'" [nzSize]="'large'">
        <ng-template #prefix>
          <i class="anticon anticon-user"></i>
        </ng-template>
      </nz-input>
      <div nz-form-explain *ngIf="validateForm.controls.userName.dirty&&validateForm.controls.userName.hasError('required')">请输入账号!</div>
    </div>
  </div>
  <div nz-form-item>
    <div nz-form-control>
      <nz-input formControlName="password" [nzType]="'password'" [nzPlaceHolder]="'密码'" [nzSize]="'large'">
        <ng-template #prefix>
          <i class="anticon anticon-lock"></i>
        </ng-template>
      </nz-input>
      <div nz-form-explain *ngIf="validateForm.controls.password.dirty&&validateForm.controls.password.hasError('required')">请输入密码!</div>
    </div>
  </div>
  <div nz-form-item>
    <div nz-form-control>
      <button nz-button class="login-form-button" [nzType]="'primary'" [nzSize]="'large'">登陆</button>
    </div>
  </div>
</form>

