<div [hidden]="more" class="weui-panel weui-panel_access">
  <div class="weui-panel__hd">您所拿取的商品列表</div>
  <div class="weui-panel__bd">
    <a [hidden]="item.changeNum === 0" href="javascript:void(0);" *ngFor="let item of goodsList" class="weui-media-box weui-media-box_appmsg">
      <div class="weui-media-box__hd">
        <img class="weui-media-box__thumb" [src]="img+item.pic" alt="">
      </div>
      <div class="weui-media-box__bd">
        <h4 class="weui-media-box__title">{{item.itemName}}</h4>
        <h5 style="float: left;margin-top: 1px" class="weui-media-box__desc">{{turnText(item.changeNum)}}</h5>
        <span [hidden]="flag === '3'" style="float: right;" class="weui-media-box__desc">{{-item.changeNum * item.price}}元</span>
      </div>
    </a>

  </div>
  <div [hidden]="flag === '3'" class="weui-panel__ft">
    <div href="javascript:void(0);" class="weui-cell weui-cell_access weui-cell_link">
      <div style="text-align: right" class="weui-cell__bd">总价:{{totalPrice}}元</div>
    </div>
  </div>
</div>
<div class="am-message result" style="background-size: 100% 0;margin-top: 25%" [hidden]="single">
    <i class="am-icon result warn"></i>
    <div class="am-message-main">温馨提示</div>
    <div [hidden]="flag === '1' || flag === '2'" class="am-message-sub">门已开，优水到家提醒您,提水后请随手关门！</div>
    <div [hidden]="flag === '3'" class="am-message-sub">门已开，优水到家提醒您,为了您账号资金安全,提水后请随手关门！</div>
    <br>
    <div [hidden]="flag === '3'" class="am-message-sub">本设备同时只能一个用户购买，请确保在您关门之前没有其他人在取水，以免多扣款！</div>
</div>
<div class="am-message result" style="background-size: 100% 0;margin-top: 25%" [hidden]="close">
  <i class="am-icon result success"></i>
  <div class="am-message-main">温馨提示</div>
  <div [hidden]="flag === '1' || flag === '2'" class="am-message-sub">关门成功</div>
  <div [hidden]="flag === '3'" class="am-message-sub">广州优水到家工程感谢你的惠顾,系统将从零钱或者银行卡中自动扣取本次购买费用。</div>
  <div class="am-button-wrap">
    <button (click)="exit()" class="am-button blue">退出</button>
  </div>
</div>
<nz-modal [nzVisible]="isVisibleOpen" [nzContent]="modalContent" [nzFooter]="modalFooter" [nzClosable]="false">
  <ng-template #modalContent>
    <p [hidden]="flag === '3'" style="font-size: medium;">您的门还未关闭！优水到家提醒您,为了您账号资金安全,提水后请随手关门！</p>
    <p [hidden]="flag === '1' || flag === '2'" style="font-size: medium;">您的门还未关闭！优水到家提醒您,提水后请随手关门！</p>
  </ng-template>
  <ng-template #modalFooter>
    <button nz-button nzType="primary" (click)="openOk()">好的</button>
  </ng-template>
</nz-modal>
