
  <div class="logo">
    <carousel [showIndicators]="false" [interval]="3000" style="position: relative;" *ngIf="beijixiong">
      <!--新年主题-->
      <slide>
        <img src="../../../assets/main/beiji1.png" alt="first slide" style="display: block; width: 100%;" (click)="bannerTo('1')">
      </slide>
      <!--充值主题-->
      <slide >
        <img src="../../../assets/main/beiji2.png" alt="second slide" style="display: block; width: 100%;" (click)="bannerTo('2')">
      </slide>
    </carousel>
    <carousel [showIndicators]="false" [interval]="3000" style="position: relative;" *ngIf="putong">
      <!--新年主题-->
      <slide>
        <img src="../../../assets/main/newyearBanner.png" alt="first slide" style="display: block; width: 100%;" (click)="bannerTo('1')">
      </slide>
      <!--充值主题-->
      <slide >
        <img src="../../../assets/main/prepaidBanner.png" alt="second slide" style="display: block; width: 100%;" (click)="bannerTo('2')">
      </slide>
      <!--招商主题-->
      <slide>
        <img src="../../../assets/main/leasingBanner.png" alt="third slide" style="display: block; width: 100%;">
      </slide>
      <!--198水机-->
      <!--icon-->
      <img src="../../../assets/main/vipcnIcon.png" class="vipcnIcon">
    </carousel>
    <!--<img *ngIf="isFiveDoor" (click)="vmLogin()" src="../../../assets/main/lianye.png" alt="..." class="lianye-logo">-->
    <!--<p *ngIf="isFiveDoor" style="font-weight: 600">联业智能</p>-->
    <img (click)="vmLogin(1, $event)" src="../../../assets/main/logos.png" alt="..."
         class="rounded-circle">
    <!--class="rounded-circle-center" style="display: inline-block">-->
    <!--class="rounded-circle-sixnight" style="display: inline-block">-->
    <!--<div class="logo_title">-->
    <!--<div class="logo_title_inner"></div>-->
    <!--</div>-->
    <!--立即参与-->
    <!--<p class="title">.</p>-->
  </div>
  <div class="contain_all">
  <div class="titleList" [hidden]="youshuiCompany">
    <div class="titleList_in" (click)="circleBtn(1)">
      <img src="../../../assets/main/mainIcon1.png" class="title_topImg">
      <div class="title_bottom">充&nbsp;&nbsp;&nbsp;&nbsp;值</div>
    </div>
    <div class="titleList_in" (click)="circleBtn(2)">
      <img src="../../../assets/main/mainIcon2.png" class="title_topImg">
      <div class="title_bottom">购物指南</div>
    </div>
    <div class="titleList_in" (click)="circleBtn(3)">
      <img src="../../../assets/main/mainIcon3.png" class="title_topImg">
      <div class="title_bottom">推荐有奖</div>
    </div>
    <div class="titleList_in" (click)="circleBtn(4)">
      <img src="../../../assets/main/mainIcon4.png" class="title_topImg">
      <div class="title_bottom">领取优惠券</div>
    </div>
    <div class="titleList_in" (click)="circleBtn(5)">
      <img src="../../../assets/main/mainIcon5.png" class="title_topImg">
      <div class="title_bottom">关注公众号</div>
    </div>
  </div>
  <div class="contain_btm clearfix">
    <!--<img [hidden]="youshuiCompany" (click)="vmLogin(2)" src="../../../assets/main/advertisement.png" alt="" class="advertisement">-->
    <div style="display: flex;width: 100%;height: 20px;margin-bottom: 12px" *ngIf="isEightDoor">
      <img (click)="eigthDoorChoose(0)" [src]="(eightDoorFlag === 0) ?'../../../assets/main/normal.png':'../../../assets/main/cold.png'"  alt="" style="width: 50%;height: 30px"><span (click)="eigthDoorChoose(0)" style="position: absolute;left: 15%;color: white;top: 77px;">点击冷藏商品</span>
      <img (click)="eigthDoorChoose(1)" [src]="(eightDoorFlag === 1) ?'../../../assets/main/normal.png':'../../../assets/main/cold.png'"   alt="" style="width: 50%;height: 30px"><span (click)="eigthDoorChoose(1)" style="position: absolute;right: 15%;color: white;top: 77px;">点击常温商品</span>
    </div>
    <p class="title">.</p>
    <div class="context-five" *ngIf="isFiveDoor">
      <div (click)="openDoor(item)" *ngFor="let item of indexList" [ngClass]="item['wayItemList'].length === 1 ? 'boxs-eight-one' : 'boxs-eight'" class=" card text-white addMain-bottom">
        <div style="text-align: center">
          <img onclick="return false" class="eight-img-one" src="{{img}}{{item['wayItemList'][0]['pic']}}" alt="">
          <p class="text-eight-one"  style="color:#333333;font-weight: 900;">{{item['wayItemList'][0]['itemName']}}</p>
          <p class="text-eight-one" style="color: #f4725c;font-weight: 900;margin-top: 10px">{{item['wayItemList'][0]['price']}}元</p>
          <img src="../../../assets/main/eight-bt.png" alt="" class="eight-bt">
        </div>
        <div style="text-align: center" [hidden]="item['wayItemList'].length === 1">
          <img onclick="return false" class="eight-img" [src]="turnImg(item['wayItemList'])" alt="">
          <p class="text-eight" style="color: #333333;">{{turn(item['wayItemList'], 'itemName')}}</p>
          <p class="text-eight" style="color: #f4725c;margin-top: 10px">{{turn(item['wayItemList'], 'price')}}元</p>
        </div>
      </div>
      <!--<div style="float: left">-->
        <!--<div (click)="openDoor(item)" *ngFor="let item of fiveIndexList"-->
             <!--[ngClass]="item['wayItemList'].length === 1 ? 'boxssf-one' : 'boxssf'"-->
             <!--class=" card text-white addMain-bottom">-->
          <!--<div style="text-align: center">-->
            <!--<img [ngClass]="item['wayItemList'].length === 1 ? 'addMain-img-onef' : 'addMain-imgf'"-->
                 <!--src="{{img}}{{item['wayItemList'][0]['pic']}}" alt="">-->
            <!--<p [ngClass]="item['wayItemList'].length === 1 ? 'text-custom-one' : 'text-custom'"-->
               <!--style="color:#333333;top: 70px;font-weight: 900;">{{item['wayItemList'][0]['itemName']}}</p>-->
            <!--<p [ngClass]="item['wayItemList'].length === 1 ? 'text-custom-one' : 'text-custom'"-->
               <!--style="color: #f4725c;margin-top: 3px;top: 80px;font-weight: 900;">-->
              <!--{{item['wayItemList'][0]['price']}}元</p>-->
          <!--</div>-->
          <!--<div style="text-align: center" [hidden]="item['wayItemList'].length === 1">-->
            <!--<img style="left: 86px;width: 60px;height: 60px;position: absolute;top: 7px;"-->
                 <!--[src]="turnImg(item['wayItemList'])" alt="">-->
            <!--<p style="color: #333333;left: 75px;font-weight: 900;overflow: hidden;width: 64px;top: 70px;-->
            <!--text-overflow: ellipsis;white-space: nowrap;position: absolute;">{{turn(item['wayItemList'],-->
              <!--'itemName')}}</p>-->
            <!--<p style="color: #f4725c;left: 75px;font-weight: 900;overflow: hidden;width: 64px;top: 83px;-->
            <!--text-overflow: ellipsis;white-space: nowrap;position: absolute;">{{turn(item['wayItemList'], 'price')}}元</p>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->

      <!--<div style="float: left">-->
        <!--<div (click)="openDoor(item)" *ngFor="let item of indexList"-->
             <!--[ngClass]="item['wayItemList'].length === 1 ? 'boxss-one' : 'boxss'"-->
             <!--class=" card text-white addMain-bottom">-->
          <!--<div style="text-align: center">-->
            <!--<img [ngClass]="item['wayItemList'].length === 1 ? 'addMain-img-one' : 'addMain-img'"-->
                 <!--src="{{img}}{{item['wayItemList'][0]['pic']}}" alt="">-->
            <!--<p [ngClass]="item['wayItemList'].length === 1 ? 'text-custom-one' : 'text-custom'"-->
               <!--style="color:#333333;font-weight: 900;">{{item['wayItemList'][0]['itemName']}}</p>-->
            <!--<p [ngClass]="item['wayItemList'].length === 1 ? 'text-custom-one' : 'text-custom'"-->
               <!--style="color: #f4725c;font-weight: 900;margin-top: 10px">{{item['wayItemList'][0]['price']}}元</p>-->
          <!--</div>-->
          <!--<div style="text-align: center" [hidden]="item['wayItemList'].length === 1">-->
            <!--<img class="addMain-img" style="left: 90px" [src]="turnImg(item['wayItemList'])" alt="">-->
            <!--<p class="text-custom" style="color: #333333;left: 72px">{{turn(item['wayItemList'], 'itemName')}}</p>-->
            <!--<p class="text-custom" style="color: #f4725c;margin-top: 10px;left: 72px">{{turn(item['wayItemList'],-->
              <!--'price')}}元</p>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->

    </div>

    <div class="context" *ngIf="isFourDoor">
      <div (click)="openDoor(item)" *ngFor="let item of indexList"
           [ngClass]="item['wayItemList'].length === 1 ? 'box-one' : 'box'" class=" card text-white mb-3">
        <img [hidden]="showActiveItem(item['wayItemList'], baoliCompany)" src="" alt="" width="60" style="position: absolute">
        <div [ngClass]="item['wayItemList'].length === 1 ? 'box-body-one' : 'box-body'">
          <img onclick="return false" class="col-img" src="{{img}}{{item['wayItemList'][0]['pic']}}" alt="">
          <br/>
          <p class="card-title text" style="color:#333333;font-weight: 900;">
            {{item['wayItemList'][0]['itemName']}}
          </p>
          <span class="card-title" style="color: #f4725c;font-weight: 900;">{{item['wayItemList'][0]['price']}}元</span>
        </div>
        <div [hidden]="item['wayItemList'].length === 1" class="box-body">
          <img onclick="return false" class="col-img" [src]="turnImg(item['wayItemList'])" alt="">
          <br/>
          <p class="card-title text" style="color:#333333;font-weight: 900;">
            {{turn(item['wayItemList'], 'itemName')}}</p>
          <span class="card-title"
                style="color: #f4725c;font-weight: 900;">{{turn(item['wayItemList'], 'price')}}元</span>
        </div>
      </div>
    </div>
    <!--8门-->
    <div class="context" *ngIf="isEightDoor">
      <div (click)="openDoor(item)" *ngFor="let item of eightIndexList" [ngClass]="item['wayItemList'].length === 1 ? 'boxs-eight-one' : 'boxs-eight'" class=" card text-white addMain-bottom">
        <div style="text-align: center">
          <img onclick="return false" class="eight-img-one" src="{{img}}{{item['wayItemList'][0]['pic']}}" alt="">
          <p class="text-eight-one"  style="color:#333333;font-weight: 900;">{{item['wayItemList'][0]['itemName']}}</p>
          <p class="text-eight-one" style="color: #f4725c;font-weight: 900;margin-top: 10px">{{item['wayItemList'][0]['price']}}元</p>
          <img src="../../../assets/main/eight-bt.png" alt="" class="eight-bt">
        </div>
        <div style="text-align: center" [hidden]="item['wayItemList'].length === 1">
          <img onclick="return false" class="eight-img" [src]="turnImg(item['wayItemList'])" alt="">
          <p class="text-eight" style="color: #333333;">{{turn(item['wayItemList'], 'itemName')}}</p>
          <p class="text-eight" style="color: #f4725c;margin-top: 10px">{{turn(item['wayItemList'], 'price')}}元</p>
        </div>
      </div>

    </div>
    <!--<div class="myProduct">-->
      <!--<div class="myCoupon">-->
        <!--<button (click)="show()" type="button" style="color: white">查看优惠券</button>-->
      <!--</div>-->
      <!--<div class="myCoupon">-->
        <!--<button (click)="openSuggestion()" type="button" style="color: white">投诉建议</button>-->
      <!--</div>-->
      <!--<div class="myCoupon">-->
        <!--<button (click)="product(1)" type="button" style="color: white">我的订单</button>-->
      <!--</div>-->
      <!--<div class="my-coupons" [hidden]="couponButtonHidden">-->
        <!--<button (click)="vmLogin(2)" type="button" style="color: white">领取优惠券</button>-->
        <!--<button (click)="product(2)" type="button" style="color: white">我的优惠券</button>-->
      <!--</div>-->
    <!--</div>-->
  </div>

  <!--<div class="my-share">-->
  <!--<button (click)="share()" type="button" class="btn btn-primary small" style="background: #117cbb">分享</button>-->
  <!--</div>-->

  <nz-modal [nzVisible]="isVisibleOpenDoor" [nzContent]="modalContents" [nzFooter]="modalFooters" [nzClosable]="false">
    <ng-template #modalContents #modalFooters style="text-align: center">
      <p style="font-size: medium;">{{openDoorMsg}}</p>
      <span style="font-size: medium;" [hidden]="activeImg === ''">{{openDoorMsgKey}}</span><img style="width: 50px" [src]="activeImg" alt="" [hidden]="activeImg === ''">
    </ng-template>
    <ng-template #modalFooters style="text-align: center" >
      <button nz-button nzType="primary" style="visibility: hidden">否</button>
      <button nz-button nzType="primary" (click)="noOpenDoor()" [hidden]="isConfirmLoading">否</button>
      <button nz-button nzType="primary" (click)="yesOpenDoor()" [hidden]="isConfirmLoading">是</button>
      <button nz-button nzType="primary" style="visibility: hidden">否</button>
      <button nz-button nzType="primary" style="visibility: hidden">否</button>
    </ng-template>
  </nz-modal>
  <nz-modal [nzVisible]="isVisibleNoMoney" [nzContent]="modalContentsNoMoney" [nzFooter]="modalFootersNoMoney" [nzClosable]="false">
    <ng-template #modalContentsNoMoney #modalFootersNoMoney style="text-align: center">
      <p style="font-size: medium;">您已经关闭的了微信免密支付功能，并且余额不足，请选择充值或者开通免密支付功能</p>
    </ng-template>
    <ng-template #modalFootersNoMoney style="text-align: center" >
      <button nz-button nzType="primary" (click)="noOpenDoor()">否</button>
      <button nz-button nzType="primary" (click)="openNoPassMoney()">开通微信免密支付</button>
      <!--<button nz-button nzType="primary" (click)="gotoSendMoney()">充值</button>-->
    </ng-template>
  </nz-modal>

  <nz-modal [nzVisible]="isVisibleCouponThree" [nzContent]="modalContentCouponThree" [nzFooter]="false"
            [nzClosable]="false">
    <ng-template #modalContentCouponThree>
      <img src="../../../assets/main/getCoupon.png" alt="" style="width: 100%;position: absolute;right: 0;top: -40px;">
      <!--<img src="../../../assets/main/follow.png" (click)="follow()" alt="" style="width: 20%;position: absolute;left: 40%;top: 260px;">-->
      <img (click)="closeCoupon()" src="../../../assets/main/close.png" alt=""
           style="width: 10%; position: absolute;right: 10px;top: 10px;">
    </ng-template>
  </nz-modal>

    <nz-modal [nzVisible]="loginShow" [nzContent]="modalContentLogin" [nzFooter]="false" [nzClosable]="true" (nzOnCancel)="handleCancel($event)">
      <ng-template #modalContentLogin>
        <p style="color: #1890ff;font-size: 16px;margin-bottom: 10px;margin-left: 5px;">登陆查看购买商品</p>
        <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="_submitForm()">
          <div nz-form-item>
            <div nz-form-control>
              <nz-input [(ngModel)]="phone"  formControlName="phoneForm" [nzPlaceHolder]="'手机号'" [nzSize]="'large'">
                <ng-template #prefix>
                  <i class="anticon anticon-tablet"></i>
                </ng-template>
              </nz-input>
              <div nz-form-explain *ngIf="validateForm.controls['phoneForm'].dirty&&validateForm.controls['phoneForm'].hasError('required')">请输入手机号!</div>
              <div nz-form-explain *ngIf="validateForm.controls['phoneForm'].dirty&&validateForm.controls['phoneForm'].hasError('phoneForm')">请输入正确手机号!</div>
              <!--<div [hidden]="truePhone" style="color: red">请输入正确手机号!</div>-->
            </div>
          </div>
          <div nz-form-item>
            <div nz-form-control>
              <nz-input (click)="focusCode()" id="code" formControlName="password" [nzType]="'number'" [nzPlaceHolder]="'验证码'" [nzSize]="'large'">
                <ng-template #prefix>
                  <i class="anticon anticon-mail"></i>
                </ng-template>
              </nz-input>
              <div nz-form-explain *ngIf="validateForm.controls['password'].dirty&&validateForm.controls['password'].hasError('required')">请输入验证码!</div>
              <!--<div nz-form-explain *ngIf="!validateValue">请输入验证码!</div>-->
              <button (click)="sendCode($event)" nz-button [nzType]="'primary'" [disabled]='buttonNoTouch' [ngClass]="{'btn-no-touch':buttonNoTouch}">
                <span [hidden]="buttonNoTouch">点击获取验证码</span>
                <span [hidden]="!buttonNoTouch">{{times}}秒后可重新发送</span>
              </button>
            </div>
          </div>
          <div nz-form-item>
            <div nz-form-control>
              <button nz-button class="login-form-button" [nzType]="'primary'" [nzSize]="'large'">登陆</button>
            </div>
          </div>
        </form>
      </ng-template>
    </nz-modal>
  <!--双十一-->
  <nz-modal [nzVisible]="isVisiblePromotions" [nzContent]="modalContentPromotions" [nzFooter]="false"
            [nzClosable]="false">
    <ng-template #modalContentPromotions>
      <img src="../../../assets/main/11promotions.png" alt="" style="width: 100%;position: absolute;right: 0;top: -40px;">
      <!--<img src="../../../assets/main/follow.png" (click)="follow()" alt="" style="width: 20%;position: absolute;left: 40%;top: 260px;">-->
      <img (click)="closemodalContentPromotions()" src="../../../assets/main/close.png" alt=""
           style="width: 10%; position: absolute;right: 10px;top: 10px;">
    </ng-template>
  </nz-modal>
  <nz-modal [nzVisible]="advertiseMentShow" [nzContent]="modalContentCoupon" [nzFooter]="false" [nzClosable]="false">
    <ng-template #modalContentCoupon>
      <img [src]="advertiseMentPic" alt="" style="width: 100%;position: absolute;right: 0;top: 0;">
      <img (click)="closeAdvertise()" src="../../../assets/main/cancel.png" alt=""
           style="width: 10%; position: absolute;right: 10px;top: 10px;">
    </ng-template>
  </nz-modal>
</div>
