<div>
  <div class="containers" #bg>
  </div>
  <div class="bgimg">
    <div class="logo">
      <img (click)="vmLogin()" src="../../../assets/main/logostou.png" alt="..." class="rounded-circle">
      <br/>
      <span style="font-weight: 900;font-size: 16px">点击下面窗口开门买水</span>
    </div>
    <div class="context" *ngIf="isFiveDoor">
      <div (click)="openDoor(indexList[0])" class="boxss card text-white addMain-bottom">
        <div style="text-align: center">
          <img class="addMain-img" src="{{img}}{{indexList[0]['imageUrl']}}" alt="">
          <br/>
          <span class="text-custom">{{indexList[0]['itemName']}}</span>
          <br/>
          <span class="text-custom">{{indexList[0]['price']}}元</span>
        </div>
      </div>
      <div (click)="openDoor(indexList[1])" class="boxss card text-white addMain-bottom">
        <div style="text-align: center">
          <img class="addMain-img" src="{{img}}{{indexList[1]['imageUrl']}}" alt="">
          <br/>
          <span class="text-custom">{{indexList[1]['itemName']}}</span>
          <br/>
          <span class="text-custom">{{indexList[1]['price']}}元</span>
        </div>
      </div>
      <div (click)="openDoor(indexList[2])" class="boxs card text-white addMain-bottom">
        <div style="text-align: center">
          <img class="addMain-img" src="{{img}}{{indexList[2]['imageUrl']}}" alt="">
          <br/>
          <span class="text-custom">{{indexList[2]['itemName']}}</span>
          <br/>
          <span class="text-custom">{{indexList[2]['price']}}元</span>
        </div>
      </div>
      <div (click)="openDoor(indexList[3])" class="boxss card text-white addMain-bottom">
        <div style="text-align: center">
          <img class="addMain-img" src="{{img}}{{indexList[3]['imageUrl']}}" alt="">
          <br/>
          <span class="text-custom">{{indexList[3]['itemName']}}</span>
          <br/>
          <span class="text-custom">{{indexList[3]['price']}}元</span>
        </div>
      </div>
      <div (click)="openDoor(indexList[4])" class="boxss card text-white addMain-bottom">
        <div style="text-align: center">
          <img class="addMain-img" src="{{img}}{{indexList[4]['imageUrl']}}" alt="">
          <br/>
          <span class="text-custom">{{indexList[4]['itemName']}}</span>
          <br/>
          <span class="text-custom">{{indexList[4]['price']}}元</span>
        </div>
      </div>
    </div>
    <div class="context" *ngIf="isFourDoor">
        <div (click)="openDoor(item)" *ngFor="let item of indexList" class="box card text-white mb-3">
          <div class="box-body">
            <img style="margin-top: 15px;width: 75px;height: 75px" src="{{img}}{{item['imageUrl']}}" alt="">
            <br/>
            <span class="card-title" style="color: white;font-weight: 900">{{item['itemName']}}</span>
            <!--<br/>-->
            <!--<span class="card-title" style="color: white">{{item['num']}}桶</span>-->
            <br/>
            <span class="card-title" style="color: white;font-weight: 900">{{item['price']}}元</span>
          </div>
        </div>
    </div>
    <!--<div class="foot">-->
      <!--<img class="foot-img" src="../../../assets/main/logo1.png" alt="">-->
    <!--</div>-->
    <div class="my-detail">
      <button (click)="detail()" type="button" class="btn btn-primary" style="background: #117cbb">我的订单</button>
    </div>
  </div>
  <nz-modal [nzVisible]="isVisibleOpenDoor" [nzContent]="modalContents" [nzFooter]="modalFooters" [nzClosable]="false">
    <ng-template #modalContents>
      <p style="font-size: medium;">是否要开门？</p>
    </ng-template>
    <ng-template #modalFooters>
      <button nz-button nzType="primary" style="visibility: hidden">否</button>
      <button nz-button nzType="primary" (click)="noOpenDoor()">否</button>
      <button nz-button nzType="primary" (click)="yesOpenDoor()">是</button>
      <button nz-button nzType="primary" style="visibility: hidden">否</button>
      <button nz-button nzType="primary" style="visibility: hidden">否</button>
    </ng-template>
  </nz-modal>
  <nz-modal [nzVisible]="isVisibleOpen" [nzContent]="modalContent" [nzFooter]="modalFooter" [nzClosable]="false">
    <ng-template #modalContent>
      <p style="font-size: medium;">优水到家提醒您,为了您账号资金安全,提水后请随手关门</p>
    </ng-template>
    <ng-template #modalFooter>
      <button nz-button nzType="primary" (click)="openOk()">关闭</button>
    </ng-template>
  </nz-modal>
</div>
