<div>
  <div class="containers" #bg>
  </div>
  <div class="bgimg">
    <!--<iframe src="https://publicexprod.alipay.com/recommend/queryRecommend.htm?publicId=2017120900470709&sourceId=youshui.natapp1.cc" style="width: 100%;height:-->
    <!--70px;" frameborder="0"></iframe>-->
    <div class="logo">
      <img (click)="vmLogin()" src="../../../assets/main/d.png" alt="..." class="rounded-circle">
    </div>
    <div class="context">
        <div (click)="openDoor(item)" *ngFor="let item of indexList" class="box card text-white mb-3">
          <div class="card-header min-padding">点击开门</div>
          <div class="box-body">
            <img style="margin-top: 5px;width: 35px;height: 35px" src="{{img}}{{item['imageUrl']}}" alt="">
            <br/>
            <span class="card-title" style="color: white">{{item['itemName']}}</span>
            <!--<br/>-->
            <!--<span class="card-title" style="color: white">{{item['num']}}桶</span>-->
            <br/>
            <span class="card-title" style="color: white">{{item['price']}}元</span>
          </div>
        </div>
    </div>
    <!--<div class="foot">-->
      <!--<img class="foot-img" src="../../../assets/main/logo1.png" alt="">-->
    <!--</div>-->
    <div class="my-detail">
      <button (click)="detail()" type="button" class="btn btn-success">我的订单</button>
    </div>
  </div>
  <nz-modal [nzVisible]="isVisibleOpen" [nzTitle]="'提示'" [nzContent]="modalContent" (nzOnOk)="openOk()">
    <ng-template #modalContent>
      <p>优水到家提醒您,为了您账号资金安全,提水后请随手关门</p>
    </ng-template>
  </nz-modal>
</div>
