<div class="container">
<div class="title">
  <nz-input id="input"  [nzType]="'search'" [nzPlaceHolder]="'输入售货机编码或者地址'" [(ngModel)]="_value" (nzOnSearch)="onSearch($event)"></nz-input>
</div>
<div class="content">
  <nz-table #nzTable [nzPageSize]="10" nzBordered>
  <!--<nz-table #nzTable [nzDataSource]="data" [nzPageSize]="10" nzBordered>-->
    <thead nz-thead>
    <tr>
      <th nz-th><span>机器编号</span></th>
      <th style="text-align: center" nz-th><span>位置</span></th>
      <th style="text-align: center" nz-th><span>详情</span></th>
    </tr>
    </thead>
    <tbody nz-tbody>
    <tr nz-tbody-tr *ngFor="let item of vmList">
    <!--<tr nz-tbody-tr *ngFor="let data of nzTable.data; index as i;">-->
      <td nz-td>
        <a>{{item.vmCode}}</a>
      </td>
      <td style="text-align: center;word-wrap: break-word;width: 130px" nz-td>{{item.locationName}}</td>
      <td style="text-align: center" nz-td>
        <button style="margin-bottom: 5px;display: block" (click)="sails(item.vmCode)" nz-button [nzType]="'primary'">
          <span>销售情况</span>
        </button>
        <button style="display: block" (click)="detail(item.vmCode)" nz-button [nzType]="'primary'">
          <span>详情</span>
        </button>
      </td>
    </tr>
    </tbody>
  </nz-table>
  <nz-modal [(nzVisible)]="isVisibleSails" [nzTitle]="modalTitleSails" [nzContent]="modalContentSails" [nzFooter]="modalFooterSails" (nzOnCancel)="handleCancelSails()">
    <ng-template #modalTitleSails>
      近三天销售情况
    </ng-template>

    <ng-template #modalContentSails>
      <nz-table #nzTable [nzPageSize]="10" nzBordered>
        <thead nz-thead>
        <tr>
          <th nz-th><span>订单创建日期</span></th>
          <th style="text-align: center" nz-th><span>商品名字</span></th>
          <th style="text-align: center" nz-th><span>销量</span></th>
          <th style="text-align: center" nz-th><span>总价</span></th>
        </tr>
        </thead>
        <tbody nz-tbody>
        <tr nz-tbody-tr *ngFor="let item of tradeDetailList">
          <td style="text-align: center;word-wrap: break-word;width: 130px" nz-td>{{item.createTime}}</td>
          <td style="text-align: center;word-wrap: break-word;width: 130px" nz-td>{{item.itemName}}</td>
          <td style="text-align: center" nz-td>{{item.num}}</td>
          <td style="text-align: center" nz-td>{{item.totalPrice}}</td>
        </tr>
        </tbody>
      </nz-table>
    </ng-template>

    <ng-template #modalFooterSails>
      <button nz-button nzType="primary" (click)="handleOkSails()" [nzLoading]="isConfirmLoadingSails">关闭</button>
    </ng-template>
  </nz-modal>
  <nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter" (nzOnCancel)="handleCancel()">
    <ng-template #modalTitle>
      {{vmCode}}机器详情
    </ng-template>

    <ng-template #modalContent>
      <nz-table #nzTable [nzPageSize]="10" nzBordered>
        <thead nz-thead>
        <tr>
          <th nz-th><span>门号</span></th>
          <th style="text-align: center" nz-th><span>当前容量</span></th>
          <th style="text-align: center" nz-th><span>最大容量</span></th>
        </tr>
        </thead>
        <tbody nz-tbody>
        <tr nz-tbody-tr *ngFor="let item of detailList">
          <td nz-td>
            <a>{{item.wayNumber}}</a>
          </td>
          <td style="text-align: center;word-wrap: break-word;width: 130px" nz-td>{{item.num}}</td>
          <td style="text-align: center" nz-td>{{item.fullNum}}</td>
        </tr>
        </tbody>
      </nz-table>
    </ng-template>

    <ng-template #modalFooter>
      <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isConfirmLoading">关闭</button>
    </ng-template>
  </nz-modal>
</div>
</div>
