.logo{
  text-align: center;
  position: relative;
}
.rounded-circle{
  margin: 50px 0 50px 0;
  width: 100px;
  height: 100px;
}
.context{
  width: 350px;
  margin: 0 auto;
}
.my-detail{
  position: absolute;
  bottom: 0;
  right: 0;
}
.box{
  float: left;
  width: 165px;
  height: 165px;
  margin-right: 10px;
  -webkit-box-shadow:2px 2px 2px 2px gray;
  -moz-box-shadow:2px 2px 2px 2px gray;
  box-shadow:2px 2px 2px 2px gray;
  background-color: rgba(0,0,0,0.3);
  overflow: hidden;
}
.box:after{
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -ms-filter: blur(2px);
  -o-filter: blur(2px);
  filter: blur(2px);
}
.box-body{
  text-align: center;
}
.box:active{
  box-shadow:2px 2px 2px 2px #acacac;
}
.containers{
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("../../assets/main/bg.jpg");
  background-size: 100% 100%;
}
.foot{
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.foot-img{
  height: 30px;
  width: 180px;
  margin-bottom: 40px;
  border: 0;
  vertical-align: middle;
}
