.containers{
  width: 100%;
  height: 100%;
  min-height:100%;
  position: absolute;
  background-image: url("../../../assets/main/2.jpg");
  background-size: cover;
}
.login-form {
  margin: 0 auto;
  max-width: 300px;
}
.logo{
  text-align: center;
  position: relative;
}
.rounded-circle{
  margin: 50px 0 60px 0;
  width: 60%;
}
.rounded-circle {
   border-radius: 0!important;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}
.btn-no-touch {
  color: #fff!important;
  background-color: #adafb1!important;
  border-color: #adafb1!important;
}
