<div class="am-message result" style="background-size: 100% 0;margin-top: 1%">
  <i class="am-icon result success"></i>
  <div class="am-message-main">购买完成</div>
  <div class="am-message-sub">关门成功</div>

  <div class="am-message-sub">广州优水到家工程感谢你的惠顾,系统将从零钱或者银行卡中自动扣取本次购买费用。</div>
  <div class="am-message-sub" style="color: #118ee8;font-weight: 600">关注“优水到家”微信公众号，领取100元购水大礼包</div>
  <div >
    <!--<button [hidden]="aliPay" (click)="follow()" class="am-button" style="background: #2CA825">点击关注</button>-->
    <img style="width: 300px;padding-bottom: 84px;opacity: 1" src="../../../assets/main/follow.png" alt="">
  </div>
  <div class="am-button-wrap">
    <button  class="am-button blue" >直接退出</button>
  </div>
</div>
