.logo{
  text-align: center;
  margin: 50px 0 50px 0;
}
.context{
  text-align: center
}
.my-detail{
  margin-top: 10px;
  float: right;
}
.box{
  -webkit-box-shadow:3px 3px 3px 3px gray;
  -moz-box-shadow:3px 3px 3px 3px gray;
  box-shadow:3px 3px 3px 3px gray;
}
.box:active{
  box-shadow:3px 3px 3px 3px white;
}
