.ant-table-placeholder{
  display: none!important;
}
.icon-img{
  width:21px;
  height:21px;
  margin-bottom: 3px;
  transition: all 0.4s;
  -webkit-filter: grayscale(1);/* Webkit */
  filter: grayscale(1);/* W3C */
}
.icon-img-last{
  width:19px;
  height:19px;
  padding-top: 1px;
  margin-bottom: 5px;
  transition: all 0.4s;
  -webkit-filter: grayscale(1);/* Webkit */
  filter: grayscale(1);/* W3C */
}
.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  height: 59px;
}
.footer-btn{
  border-top: 1px solid #d9d9d9;
  /*border-right: 1px solid #d9d9d9;*/
  text-align: center;
  padding-top: 10px;
}
.footer-btn:last-child{
  border-top: 1px solid #d9d9d9;
  /*border-right: 0 solid #d9d9d9;*/
  text-align: center;
}
.footer-btn:active {
  color: #1890ff;
}
.icon-active{
  transform: scale(1.4);
  -webkit-filter: grayscale(0);/* Webkit */
  filter: grayscale(0);/* W3C */
}
.active {
  color: #1890ff;
}
