<div style="width: 100%;height: 100%;">
  <router-outlet></router-outlet>
  <div class="footer">
    <div nz-row>
      <div (click)="selected(1)"   [ngClass]="(curId === 1) ?'active':''" class="footer-btn" nz-col nzSpan="5"><img class="icon-img-last" [ngClass]="(curId === 1) ?'icon-active':''" src="../assets/main/main.png" alt=""><br/>首页信息</div>
      <div (click)="selected(2)"   [ngClass]="(curId === 2) ?'active':''" class="footer-btn" nz-col nzSpan="5"><img class="icon-img-second" [ngClass]="(curId === 2) ?'icon-active':''" src="../assets/main/machine.png" alt=""><br/>购买指南</div>
      <div (click)="selected(3)"  [ngClass]="(curId === 3) ?'active':''" class="footer-btn" nz-col nzSpan="5"><img class="icon-img" [ngClass]="(curId === 3) ?'icon-active':''" src="../assets/main/sales.png" alt=""><br/>我的信息</div>
      <div (click)="selected(4)"   [ngClass]="(curId === 4) ?'active':''" class="footer-btn" nz-col nzSpan="5"><img class="icon-img" [ngClass]="(curId === 4) ?'icon-active':''" src="../assets/main/personal.png" alt=""><br/>故障申报</div>
      <div (click)="selected(5)"   [ngClass]="(curId === 5) ?'active':''" class="footer-btn" nz-col nzSpan="4"><img class="icon-img" [ngClass]="(curId === 5) ?'icon-active':''" src="../assets/main/personal.png" alt=""><br/>商城</div>
    </div>
  </div>
</div>
