<div>
  <div class="containers" #bg>
  </div>
  <div class="bgimg">
    <div class="logo">
      <img (click)="vmLogin()" src="../../../assets/main/d.png" alt="..." class="rounded-circle">
    </div>
    <div class="context">
        <div (click)="openDoor(item)" *ngFor="let item of indexList" class="box card text-white mb-3">
          <div class="box-body">
            <img style="margin-top: 15px;width: 75px;height: 75px" src="{{img}}{{item['pic']}}" alt="">
            <br/>
            <span class="card-title" style="color: white;font-weight: 900">{{item['itemName']}}</span>
            <!--<br/>-->
            <!--<span class="card-title" style="color: white">{{item['num']}}桶</span>-->
            <br/>
            <span class="card-title" style="color: white;font-weight: 900">{{item['price']}}元</span>
          </div>
        </div>
    </div>
    <!--<div class="foot">-->
      <!--<img class="foot-img" src="../../../assets/main/logo1.png" alt="">-->
    <!--</div>-->
    <div class="my-product">
      <button (click)="product()" type="button" class="btn btn-primary">我的订单</button>
    </div>
  </div>
  <nz-modal [nzVisible]="isVisibleOpenDoor" [nzTitle]="'提示'" [nzContent]="modalContents" [nzFooter]="modalFooters">
    <ng-template #modalContents>
      <p>是否要开门</p>
    </ng-template>
    <ng-template #modalFooters>
      <button nz-button nzType="primary" (click)="noOpenDoor()">否</button>
      <button nz-button nzType="primary" (click)="yesOpenDoor()">是</button>
    </ng-template>
  </nz-modal>

  <nz-modal [nzVisible]="isVisibleOpen" [nzTitle]="'提示'" [nzContent]="modalContent" [nzFooter]="modalFooter">
    <ng-template #modalContent>
      <p>优水到家提醒您,为了您账号资金安全,提水后请随手关门</p>
    </ng-template>
    <ng-template #modalFooter>
      <button nz-button nzType="primary" (click)="openOk()">关闭</button>
    </ng-template>
  </nz-modal>
</div>
