<div>
  <div class="containers" #bg>
  </div>
  <div class="bgimg">
    <div class="logo">
      <img (click)="vmLogin(title, content, footer)" src="../../../assets/main/ys_logo.png" alt="..." class="rounded-circle">
    </div>
    <div class="context">
      <!--<div style="margin-right: 15px">-->
        <div (click)="openDoor(item, title, content, footer)" *ngFor="let item of indexList" class="box card text-white mb-3">
          <div class="card-header min-padding">点击开门</div>
          <div class="box-body">
            <img style="margin-top: 5px" src="../../../favicon.ico" alt="">
            <br/>
            <span class="card-title" style="color: white">{{item['itemName']}}</span>
            <br/>
            <span class="card-title" style="color: white">{{item['num']}}桶</span>
            <br/>
            <span class="card-title" style="color: white">{{item['costPrice']}}元</span>
          </div>
        </div>
        <!--<div class="box card text-white bg-secondary mb-3" style="width: 165px; height: 165px;">-->
          <!--<div class="card-header">优水到家工程</div>-->
          <!--<div class="card-body">-->
            <!--<h5 class="card-title" style="color: white">农夫山泉桶水</h5>-->
            <!--<p class="card-text">点击我开门</p>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div>-->
        <!--<div class="box card text-white bg-success mb-3" style="width: 165px; height: 165px;">-->
          <!--<div class="card-header">优水到家工程</div>-->
          <!--<div class="card-body">-->
            <!--<h5 class="card-title" style="color: white">鼎湖泉桶装水</h5>-->
            <!--<p class="card-text">点击我开门</p>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="box card text-white bg-warning mb-3" style="width: 165px; height: 165px;">-->
          <!--<div class="card-header">优水到家工程</div>-->
          <!--<div class="card-body">-->
            <!--<h5 class="card-title" style="color: white">昆仑山桶装水</h5>-->
            <!--<p class="card-text">点击我开门</p>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    </div>
    <div class="foot">
      <img class="foot-img" src="../../../assets/main/logo1.png" alt="">
    </div>
    <div class="my-detail">
      <button (click)="detail()" type="button" class="btn btn-success">我的订单</button>
    </div>
  </div>
  <ng-template #title>
    <span>提示</span>
  </ng-template>
  <ng-template #content>
    <div>
      <p>请先关注优水到家工程公众号</p>
    </div>
  </ng-template>
  <ng-template #footer>
    <div>
      <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="handleOk($event)">
        确定
      </button>
    </div>
  </ng-template>
</div>
