<div class="contain_all">


  <!--<div class="containers" #bg>-->
  <!--</div>-->
  <!--<div class="bgimg">-->
  <div class="logo">
    <carousel>
      <slide>
        <img [hidden]="youshuiCompany" src="../../../assets/main/banner1.png" alt="first slide" style="display: block; width: 100%;height: 86px;" onclick="javascript:{window.location.href = 'http://webapp.youshuidaojia.com/cMain/promotions?vmCode=' + document.getElementById('vmCode').innerHTML}">
        <img [hidden]="otherCompany" src="../../../assets/main/banner2.png" alt="first slide" style="display: block; width: 100%;height: 86px;">
        <div class="carousel-caption d-none d-md-block">
          <h3>First slide label</h3>。
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </slide>
    </carousel>
    <!--<img *ngIf="isFiveDoor" (click)="vmLogin()" src="../../../assets/main/lianye.png" alt="..." class="lianye-logo">-->
    <!--<p *ngIf="isFiveDoor" style="font-weight: 600">联业智能</p>-->
    <img (click)="vmLogin(1)" src="../../../assets/main/logos.png" alt="..."
         class="rounded-circle">
    <span id="vmCode" style="display: none">{{vmCode}}</span>
    <!--<img [hidden]="otherCompany" (click)="vmLogin(0)" src="../../../assets/main/guoqing.png" alt="..."-->
    <!--class="rounded-circle-center" style="display: inline-block">-->
    <!--<img [hidden]="youshuiCompany" (click)="vmLogin(2)" src="../../../assets/main/69.png" alt="..."-->
    <!--class="rounded-circle-sixnight" style="display: inline-block">-->
    <br/>
    <!--<div class="logo_title">-->
    <!--<div class="logo_title_inner"></div>-->
    <!--</div>-->
    <!--立即参与-->
    <!--<p class="title">.</p>-->
  </div>
  <div class="contain_btm">
    <img [hidden]="youshuiCompany" (click)="vmLogin(2)" src="../../../assets/main/advertisement.png" alt="" class="advertisement">
    <div style="display: flex;width: 100%;height: 20px;margin-bottom: 12px" *ngIf="isEightDoor">
      <img (click)="eigthDoorChoose(0)" [src]="(eightDoorFlag === 0) ?'../../../assets/main/normal.png':'../../../assets/main/cold.png'"  alt="" style="width: 50%;height: 30px"><span (click)="eigthDoorChoose(0)" style="position: absolute;left: 15%;color: white;top: 44px;">点击冷藏商品</span>
      <img (click)="eigthDoorChoose(1)" [src]="(eightDoorFlag === 1) ?'../../../assets/main/normal.png':'../../../assets/main/cold.png'"   alt="" style="width: 50%;height: 30px"><span (click)="eigthDoorChoose(1)" style="position: absolute;right: 15%;color: white;top: 44px;">点击常温商品</span>
    </div>
    <p class="title">.</p>
    <div class="context-five" *ngIf="isFiveDoor">
      <div style="float: left">
        <div (click)="openDoor(item)" *ngFor="let item of fiveIndexList" [ngClass]="item['wayItemList'].length === 1 ? 'boxssf-one' : 'boxssf'" class=" card text-white addMain-bottom">
          <div style="text-align: center">
            <img [ngClass]="item['wayItemList'].length === 1 ? 'addMain-img-onef' : 'addMain-imgf'" src="{{img}}{{item['wayItemList'][0]['pic']}}" alt="">
            <p [ngClass]="item['wayItemList'].length === 1 ? 'text-custom-one' : 'text-custom'"  style="color:#333333;top: 70px;font-weight: 900;">{{item['wayItemList'][0]['itemName']}}</p>
            <p [ngClass]="item['wayItemList'].length === 1 ? 'text-custom-one' : 'text-custom'" style="color: #f4725c;margin-top: 3px;font-weight: 900;top: 80px">{{item['wayItemList'][0]['price']}}元</p>
          </div>
          <div style="text-align: center" [hidden]="item['wayItemList'].length === 1">
            <img style="left: 86px;width: 60px;height: 60px;position: absolute;top: 7px;" [src]="turnImg(item['wayItemList'])" alt="">
            <p style="color: #333333;left: 75px;font-weight: 900;overflow: hidden;width: 64px;top: 70px;
            text-overflow: ellipsis;white-space: nowrap;position: absolute;">{{turn(item['wayItemList'], 'itemName')}}</p>
            <p style="color: #f4725c;left: 75px;font-weight: 900;overflow: hidden;width: 64px;top: 83px;
            text-overflow: ellipsis;white-space: nowrap;position: absolute;">{{turn(item['wayItemList'], 'price')}}元</p>
          </div>
        </div>
      </div>

      <div style="float: left">
        <div (click)="openDoor(item)" *ngFor="let item of indexList" [ngClass]="item['wayItemList'].length === 1 ? 'boxss-one' : 'boxss'" class=" card text-white addMain-bottom">
          <div style="text-align: center">
            <img [ngClass]="item['wayItemList'].length === 1 ? 'addMain-img-one' : 'addMain-img'" src="{{img}}{{item['wayItemList'][0]['pic']}}" alt="">
            <p [ngClass]="item['wayItemList'].length === 1 ? 'text-custom-one' : 'text-custom'"  style="color:#333333;font-weight: 900;">{{item['wayItemList'][0]['itemName']}}</p>
            <p [ngClass]="item['wayItemList'].length === 1 ? 'text-custom-one' : 'text-custom'" style="color: #f4725c;font-weight: 900;margin-top: 10px">{{item['wayItemList'][0]['price']}}元</p>
          </div>
          <div style="text-align: center" [hidden]="item['wayItemList'].length === 1">
            <img class="addMain-img" style="left: 90px" [src]="turnImg(item['wayItemList'])" alt="">
            <p class="text-custom" style="color: #333333;left: 72px">{{turn(item['wayItemList'], 'itemName')}}</p>
            <p class="text-custom" style="color: #f4725c;margin-top: 10px;left: 72px">{{turn(item['wayItemList'], 'price')}}元</p>
          </div>
        </div>
      </div>

    </div>

    <div class="context" *ngIf="isFourDoor">
      <div (click)="openDoor(item)" *ngFor="let item of indexList" [ngClass]="item['wayItemList'].length === 1 ? 'box-one' : 'box'" class=" card text-white mb-3">
        <img [hidden]="showActiveItem(item['wayItemList'], baoliCompany)" src="../../../assets/main/send.png" alt="" width="40" style="position: absolute">
        <div [ngClass]="item['wayItemList'].length === 1 ? 'box-body-one' : 'box-body'">
          <img class="col-img" src="{{img}}{{item['wayItemList'][0]['pic']}}" alt="">
          <br/>
          <p class="card-title text" style="color:#333333;font-weight: 900;">
            {{item['wayItemList'][0]['itemName']}}
          </p>
          <span class="card-title" style="color: #f4725c;font-weight: 900;">{{item['wayItemList'][0]['price']}}元</span>
        </div>
        <div [hidden]="item['wayItemList'].length === 1" class="box-body" >
          <img class="col-img" [src]="turnImg(item['wayItemList'])" alt="">
          <br/>
          <p class="card-title text" style="color:#333333;font-weight: 900;">
            {{turn(item['wayItemList'], 'itemName')}}</p>
          <span class="card-title" style="color: #f4725c;font-weight: 900;">{{turn(item['wayItemList'], 'price')}}元</span>
        </div>
      </div>
    </div>
    <!--8门-->
    <div class="context" *ngIf="isEightDoor">
      <div (click)="openDoor(item)" *ngFor="let item of eightIndexList" [ngClass]="item['wayItemList'].length === 1 ? 'boxs-eight-one' : 'boxs-eight'" class=" card text-white addMain-bottom">
        <div style="text-align: center">
          <img class="eight-img-one" src="{{img}}{{item['wayItemList'][0]['pic']}}" alt="">
          <p class="text-eight-one"  style="color:#333333;font-weight: 900;">{{item['wayItemList'][0]['itemName']}}</p>
          <p class="text-eight-one" style="color: #f4725c;font-weight: 900;margin-top: 10px">{{item['wayItemList'][0]['price']}}元</p>
          <img src="../../../assets/main/eight-bt.png" alt="" class="eight-bt">
        </div>
        <div style="text-align: center" [hidden]="item['wayItemList'].length === 1">
          <img class="eight-img" [src]="turnImg(item['wayItemList'])" alt="">
          <p class="text-eight" style="color: #333333;">{{turn(item['wayItemList'], 'itemName')}}</p>
          <p class="text-eight" style="color: #f4725c;margin-top: 10px">{{turn(item['wayItemList'], 'price')}}元</p>
        </div>
      </div>
    </div>
    <div class="my-product">
      <button (click)="product(1)" type="button" style="color: white">我的订单</button>
    </div>
    <div class="my-coupon">
      <button (click)="show()" type="button" style="color: white">查看优惠券</button>
    </div>
    <div class="my-coupons" [hidden]="couponButtonHidden">
      <button [hidden]="youshuiCompany" (click)="vmLogin(2)" type="button" style="color: white">领取优惠券</button>
      <button (click)="product(2)" type="button" style="color: white">我的优惠券</button>
    </div>
    <!--</div>-->
  </div>
  <nz-modal [nzVisible]="isVisibleOpenDoor" [nzContent]="modalContents" [nzFooter]="modalFooters" [nzClosable]="false">
    <ng-template #modalContents #modalFooters style="text-align: center">
      <p style="font-size: medium;">{{openDoorMsg}}</p>
    </ng-template>
    <ng-template #modalFooters style="text-align: center" >
      <button nz-button nzType="primary" style="visibility: hidden">否</button>
      <button nz-button nzType="primary" (click)="noOpenDoor()" [hidden]="isConfirmLoading">否</button>
      <button nz-button nzType="primary" (click)="yesOpenDoor()" [hidden]="isConfirmLoading">是</button>
      <button nz-button nzType="primary" style="visibility: hidden">否</button>
      <button nz-button nzType="primary" style="visibility: hidden">否</button>
    </ng-template>
  </nz-modal>

  <nz-modal [nzVisible]="isVisibleOpen" [nzContent]="modalContent" [nzFooter]="modalFooter" [nzClosable]="false">
    <ng-template #modalContent>
      <p style="font-size: medium;">门已开，优水到家提醒您,为了您账号资金安全,提水后请随手关门，请勿让陌生人拿水！</p>
    </ng-template>
    <ng-template #modalFooter>
      <button nz-button nzType="primary" (click)="openOk()">关闭</button>
    </ng-template>
  </nz-modal>

  <nz-modal [nzVisible]="isVisibleCoupon" [nzContent]="modalContentCoupon" [nzFooter]="false" [nzClosable]="false">
    <ng-template #modalContentCoupon>
      <img src="../../../assets/main/coupon.png" alt="" style="width: 100%;position: absolute;right: 0;top: 0;">
      <img (click)="closeCoupon()" src="../../../assets/main/cancel.png" alt=""
           style="width: 10%; position: absolute;right: 10px;top: 10px;">
    </ng-template>
  </nz-modal>
  <nz-modal [nzVisible]="isVisibleCouponTwo" [nzContent]="modalContentCouponTwo" [nzFooter]="false" [nzClosable]="false">
    <ng-template #modalContentCouponTwo>
      <img src="../../../assets/main/coupon2.png" alt="" style="width: 100%;position: absolute;right: 0;top: 0;">
      <img (click)="closeCoupon()" src="../../../assets/main/cancel.png" alt=""
           style="width: 10%; position: absolute;right: 10px;top: 10px;">
    </ng-template>
  </nz-modal>
  <nz-modal [nzVisible]="isVisibleCouponThree" [nzContent]="modalContentCouponThree" [nzFooter]="false" [nzClosable]="false">
    <ng-template #modalContentCouponThree>
      <img src="../../../assets/main/getCoupon.png" alt="" style="width: 100%;position: absolute;right: 0;top: -40px;opacity: 1">
      <!--<img src="../../../assets/main/follow-button.png" (click)="follow()" alt="" style="width: 20%;position: absolute;left: 40%;top: 260px;">-->
      <img (click)="closeCoupon()" src="../../../assets/main/close.png" alt=""
           style="width: 10%; position: absolute;right: 10px;top: 10px;">
    </ng-template>
  </nz-modal>

</div>
