<div class="product-body">

<div class="title">
  <div class="bg-product"></div>
  <div class="logo">
    <img src="../../assets/main/ys_logo.png" alt="" style="width: 55px;height: 55px">
    <span style="font-size: 14px;color: #ffffff;">优水到家</span>
  </div>
</div>
<div class="content-title">
  <div class="order">
    <img class="order-img" src="../../assets/main/ys_logo.png" alt="">
    <p>我的订单</p>
  </div>
  <div class="order">
    <img class="order-img" src="../../assets/main/ys_logo.png" alt="">
    <p>已付款订单</p>
  </div>
  <div class="order">
    <img class="order-img" src="../../assets/main/ys_logo.png" alt="">
    <p>未付款订单</p>
  </div>
</div>
<div class="content">
  <h6 class="text" style="padding-top: 10px">欢迎关注优水到家</h6>
  <p class="text" style="padding-bottom: 10px">04-02 16:24</p>

  <ng-template #popTemplate><span (click)="myVm()">我的机器</span></ng-template>
  <div class="pop">
  <button type="button" class="btn btn-block btn-light pop"
          [popover]="popTemplate"
          [outsideClick]="true">
    我的微超
  </button>
  </div>
</div>
<span class="bottom-text">我是有底线的</span>
</div>
