<div id="containers" class="containers">
<div class="title">
<span>{{title}}</span>
</div>
<div id="content" class="content">
  <nz-collapseset>
      <nz-collapse class="nz-collapse"  [nzTitle]="'订单号:123165726542313'" [nzActive]="true"
                   [nzDisabled]="false">
        <p>下单时间</p>
        <p>农夫山泉5L</p>
        <p>单价：6元</p>
        <p>数量：1</p>
        <p>总价：6元</p>
      </nz-collapse>
      <nz-collapse class="nz-collapse"  [nzTitle]="'订单号:123165726542313'" [nzActive]="true"
                   [nzDisabled]="false">
        <p>下单时间</p>
        <p>农夫山泉5L</p>
        <p>单价：6元</p>
        <p>数量：1</p>
        <p>总价：6元</p>
      </nz-collapse>
      <nz-collapse class="nz-collapse"  [nzTitle]="'订单号:123165726542313'" [nzActive]="true"
                   [nzDisabled]="false">
        <p>下单时间</p>
        <p>农夫山泉5L</p>
        <p>单价：6元</p>
        <p>数量：1</p>
        <p>总价：6元</p>
      </nz-collapse>
      <nz-collapse class="nz-collapse"  [nzTitle]="'订单号:123165726542313'" [nzActive]="true"
                   [nzDisabled]="false">
        <p>下单时间</p>
        <p>农夫山泉5L</p>
        <p>单价：6元</p>
        <p>数量：1</p>
        <p>总价：6元</p>
      </nz-collapse>
  </nz-collapseset>
</div>
  <div class="footer"><span>1111111111111111</span></div>
</div>
