.share {
  background: url("../../../assets/main/activity-bg.png");
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
 /* margin-bottom: 60px;*/
}
.center-button{
  width: 100%;
  height: 20%;
  top: 47%;
  position: absolute;
}
.center-img{
  width: 40%;
  height: 24%;
  top: 31%;
  left: 30%;
  position: absolute;
}
.bargainShare{
  position: absolute;
  top: 0;
  width: 100%;
  height: 26%;
}
