.containers{
  background: #f3f3f3;
  width: 100%;
  padding: 0;
}
.title{
  background: white;
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: 14px;
}
.content{
  background: #f3f3f3;
  width: 100%;
  padding: 10px 10px 60px 10px;
}
.footer{
  background: white;
  height: 20px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.footer>span{
  float: right;
}
.page__title {
  text-align: left;
  font-size: 18px;
  color: #666666;
}
.page__desc {
  margin-top: 5px;
  color: #888;
  text-align: left;
  font-size: 14px;
}
.weui-form-preview {
  position: relative;
  background-color: #FFFFFF;
}
.weui-form-preview__hd {
  position: relative;
  padding: 10px 15px;
  text-align: right;
  line-height: 2.2em;
}
.weui-form-preview__bd {
  padding: 10px 15px;
  font-size: 1.2em;
  text-align: right;
  color: #808080;
  line-height: 1.5;
}
.weui-form-preview__ft {
  position: relative;
  line-height: 30px;
  border-top-style: ridge;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.weui-form-preview__item {
  overflow: hidden;
}
.weui-form-preview__label {
  float: left;
  margin-right: 1em;
  font-size: 1.0em;
  min-width: 4em;
  color: #808080;
  text-align: justify;
  text-align-last: justify;
}
.weui-form-preview__value {
  display: block;
  overflow: hidden;
  word-break: normal;
  word-wrap: break-word;
}
.weui-form-preview__btn_primary {
  color: #09BB07;
  font-size: 1.3em;
}
.weui-form-preview__btn_primary:active {
  color: #797979;
  font-size: 1.3em;
}
.weui-form-preview__btn {
  position: relative;
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  color: #09BB07;
  text-align: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.weui-form-preview__btn:active {
  position: relative;
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  color: #797979;
  text-align: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.weui-form-preview__hd .weui-form-preview__label {
  float: left;
  margin-right: 1em;
  font-size: 1.3em;
  min-width: 4em;
  color: black;
  text-align: justify;
  text-align-last: justify;
}
.weui-form-preview__hd .weui-form-preview__value {
  font-style: normal;
  font-size: 2em;
  font-weight: 400;
  color: #000;
}
.weui-btn_primary:not(.weui-btn_disabled):active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #179B16;
}
.weui-btn_primary:not(.weui-btn_disabled):visited {
  color: #FFFFFF;
}
.weui-btn_primary {
  background-color: #1AAD19;
}
.weui-btn {
  width: 95%;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 14px;
  padding-right: 14px;
  box-sizing: border-box;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  line-height: 2.05555556;
  border-radius: 5px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow: hidden;
}
a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.weui-mask {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  transition: opacity 1s;
}
.weui-dialog {
  position: fixed;
  z-index: 5000;
  width: 80%;
  max-width: 300px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  text-align: center;
  border-radius: 3px;
  overflow: hidden;
}
.weui-skin_android .weui-dialog__bd:first-child {
  padding: 1.6em 1.6em 2em;
  color: #353535;
}
.weui-skin_android .weui-dialog__bd {
  color: #808080;
  padding: 0.25em 1.6em 2em;
  font-size: 17px;
  text-align: left;
}
.weui-dialog__bd:first-child {
  padding: 2.7em 20px 1.7em;
  color: #353535;
}
.weui-dialog__bd {
  padding: 0 1.6em 0.8em;
  min-height: 40px;
  font-size: 15px;
  line-height: 1.3;
  word-wrap: break-word;
  word-break: break-all;
  color: #808080;
}
.weui-skin_android .weui-dialog__ft {
  display: block;
  text-align: right;
  line-height: 42px;
  font-size: 16px;
  padding: 0 1.6em 0.7em;
}
.weui-dialog__ft {
  position: relative;
  line-height: 48px;
  font-size: 18px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.weui-skin_android .weui-dialog__btn:last-child {
  margin-right: -0.8em;
}
.weui-skin_android .weui-dialog__btn:visited {
  background-color: rgba(0, 0, 0, 0.06);
}
.weui-skin_android .weui-dialog__btn {
  display: inline-block;
  vertical-align: top;
  padding: 0 .8em;
}
.weui-dialog__btn_primary {
  color: #09BB07;
}
.weui-dialog__btn {
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  color: #09BB07;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: relative;
}
.mask-visible {
  opacity: 1;
}
.mask-invisible {
  opacity: 0;
  display: none;
}
.card{
  color: white;
  width: 90%;
  height: 107px;
  margin-left: 5%;
  margin-bottom: 5px;
  line-height: 20px;
  border-radius: 10px;
  background-color: rgba(29, 130, 200, 1);
  border: 1px solid rgba(187, 187, 187, 1);
  display: inline-block;
}
.footer{
  width: 90%;
  height: 85px;
  margin-left: 5%;
  background-color: rgba(238, 238, 238, 0.1);
  text-align: center;
  color: grey;
}
.line{
  float: left;
  width: 95%;
  margin-left: 2%;
  margin-top: 5px;
  height: 1px;
  border-top: white 1px dashed;
}
.layout{
  position: absolute;
  top: 100px;
  width: 100%;
}
.use{
  float: left;
  margin-left: 40%;
  font-size: 12px;
}
/*订单*/
.order {
  width: 100%;
  border-bottom: 1px solid #c1c1c1;
  border-top: 1px solid #c1c1c1;
  background: #ffffff;
  margin-bottom: 14px;
  border-radius:8px ;
}

.orderNum {
  width: 100%;
  height: 37px;
  border-bottom: 1px solid #e5e5e5;
  line-height: 36px;
}

.orderGoods {
  width: 100%;
  height: 101px;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
  font-size: 12px;
}

.orderImg {
  width: 80px;
  position: absolute;
  left: 10px;
  top: 10px;
  height: 80px;
}

.orderCont {
  margin-left: 100px;
  height: 100%;
  padding: 10px 0;
  position: relative;
}

.order_GoodsName {
  color: #333333;
  width: 100%;
  position: relative;
  padding-right: 42px;
}

.order_GoodsPrice {
  position: absolute;
  top: 0;
  right: 10px;
}

.order_GoodsNum {
  color: #999999;
  margin-top: 10px;
  position: absolute;
  bottom: 10px;
}

.orderDetails {
  width: 100%;
  height: 76px;
  position: relative;
  font-size: 12px;
}

.orderDetails_l {
  width: 80px;
  position: absolute;
  left: 10px;
  top: 0;
  height: 100%;
}

.orderDetails_l_in {
  height: 25px;
  width: 100px;
  line-height: 25px;
}

.orderDetails_r {
  margin-left: 90px;
  margin-right: 10px;
  height: 100%;
}

.orderDetails_r_in {
  height: 25px;
  width: 100%;
  line-height: 25px;
  text-align: right;
}

.unPay {
  width: 100%;
  height: 40px;
  border-top: 1px solid #e5e5e5;
  position: relative;
}

.unPay_img {
  width: 60px;
  height: 26px;
  position: absolute;
  right: 100px;
  top: 50%;
  margin-top: -13px;
  text-align: center;
  line-height: 26px;
  border: 1px solid #3399ff;
  border-radius: 3px;
  color: #3399ff;
}
.details {
  width: 80px;
  height: 26px;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -13px;
  text-align: center;
  line-height: 26px;
  border: 1px dashed #3399ff;
  border-radius: 3px;
  color: #3399ff;
}
.refund-btn{
  width: 80px;
  height: 26px;
  position: absolute;
  right: 100px;
  top: 50%;
  margin-top: -13px;
  text-align: center;
  line-height: 26px;
  border: 1px solid #3399ff;
  border-radius: 3px;
  color: #3399ff;
}
/*退款申请*/
.applyRefun{
  background: #f3f3f3;
  width: 100%;
  height: 100%;
}
.order-style{
  width: 100%;
  background: #FFFFFF;
}
.order-layout{
  border-bottom: #f3f3f3 solid 1px;
  border-top: #f3f3f3 solid 1px;
  width: 100%;
  padding: 10px;
  height: 100px;
  position: relative;
}
.order-img{
  width: 80px;
  position: absolute;
}
.order-detail{
  margin-left: 90px;
  position: relative;
}
.refund-select{
  width: 100%;
  padding: 0px 10px;
  height: 40px;
  line-height: 40px;
  position: relative;
  background: #FFFFFF;
  margin-top: 10px;
}
.span-style{
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  display: block;
}
.refund-info{
  width: 100%;
  padding: 10px;
  background: #FFFFFF;
  margin-top: 10px;
}
.text-style{
  margin-top: 5px;
  border: 1px #dfdfdf solid;
  padding: 10px;
  width: 100%;
  height: 100px;
  font-size: 12px;
}
.name-style{
  max-height: 60px;
  line-height: 20px;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.left{
  float: left;
}
.right{
  float: right;
}
.clear-fix{
  clear: both;
}
.footer-btn{
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
}
.but-style{
  width: 100%;
  height: 45px;
  background: url("../../../assets/main/submit.png");
  background-size: 100% 100%;
  border: none;
  border-radius: 0px !important;
  color: #FFFFFF;
  font-size: 16px;
}
