<div id="containers" class="containers">
  <div class="page__hd" style="padding: 10px 10px 10px 20px;background: white">
    <h1 [hidden]="id !== '1'" class="page__title">我的订单</h1>
    <h1 [hidden]="id !== '2'" class="page__title">我的优惠卷</h1>
    <h1 [hidden]="id !== '3'" class="page__title">退款申请</h1>
  </div>
  <div id="content" class="content" [hidden]="id !== '1'">
    <!--<div class="weui-form-preview" *ngFor="let item of list">-->
      <!--<div class="weui-form-preview__hd">-->
        <!--<div class="weui-form-preview__item">-->
          <!--<label class="weui-form-preview__label">订单号:</label>-->
          <!--<p style="font-size: 14px">{{item.payCode}}</p>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="weui-form-preview__bd">-->
        <!--<article style="display: -webkit-box;margin-bottom: 5px">-->
          <!--<img style="width: 40px" [src]="imgUrl+item.itemList[0].pic" alt="">-->
          <!--<div style="margin-left: 10%">-->
            <!--<div class="weui-form-preview__item">-->
              <!--<label class="weui-form-preview__label">{{item.itemList[0].itemName}}:</label>-->
              <!--<span class="weui-form-preview__value">￥{{item.itemList[0].price}}</span>-->
            <!--</div>-->
            <!--<div class="weui-form-preview__item">-->
              <!--<label class="weui-form-preview__label">数量：</label>-->
              <!--<span class="weui-form-preview__value">{{item.itemList[0].num}}</span>-->
            <!--</div>-->
          <!--</div>-->
        <!--</article>-->
        <!--<article [hidden]="item.itemList.length === 1" style="display: -webkit-box;margin-bottom: 5px">-->
          <!--<img style="width: 40px" [src]="imgUrl+getItem(item.itemList, 'pic')" alt="">-->
          <!--<div style="margin-left: 10%">-->
            <!--<div class="weui-form-preview__item">-->
              <!--<label class="weui-form-preview__label">{{getItem(item.itemList, 'itemName')}}:</label>-->
              <!--<span class="weui-form-preview__value">￥{{getItem(item.itemList, 'price')}}</span>-->
            <!--</div>-->
            <!--<div class="weui-form-preview__item">-->
              <!--<label class="weui-form-preview__label">数量：</label>-->
              <!--<span class="weui-form-preview__value">{{getItem(item.itemList, 'num')}}</span>-->
            <!--</div>-->
          <!--</div>-->
        <!--</article>-->
        <!--<div style="border-bottom: 1px solid #f3f3f3"></div>-->
        <!--<div class="weui-form-preview__item">-->
          <!--<label class="weui-form-preview__label">下单时间:</label>-->
          <!--<span class="weui-form-preview__value">{{item.createTime}}</span>-->
        <!--</div>-->
        <!--<div class="weui-form-preview__item">-->
          <!--<label class="weui-form-preview__label">订单状态：</label>-->
          <!--<span class="weui-form-preview__value">{{item.state}}</span>-->
        <!--</div>-->
        <!--<div class="weui-form-preview__item">-->
          <!--<label class="weui-form-preview__label">实付款：</label>-->
          <!--<span class="weui-form-preview__value">￥{{item.totalPrice}}</span>-->
        <!--</div>-->
        <!--<div style="border-bottom: 1px solid #f3f3f3;margin-bottom: 5px"></div>-->
        <!--<div class="weui-form-preview__item">-->
          <!--<img style="width: 90px" (click)="detail(item.payCode)" src="../../../assets/main/detail-bt.png" alt="">-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="weui-form-preview__ft" [hidden]="item.state !== '10002'">-->
        <!--<a class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:" (click)="pay(item)">支付</a>-->
      <!--</div>-->
      <!--<div style="margin-top: 10px;width: 100%"></div>-->
    <!--</div>-->
    <div class="order" *ngFor="let item of list">
      <div class="orderNum">
        <span style="margin-left: 10px;font-size: 12px;">订单号：{{item.payCode}}</span>
      </div>
      <div class="orderGoods" *ngFor="let items of item.itemList" [hidden]="!item.itemList">
        <div class="orderImg">
          <img style="width: 80px;height: 80px;" [src]="imgUrl+items.pic">
        </div>
        <div class="orderCont">
          <div class="order_GoodsName">
            {{items.itemName}}
            <span class="order_GoodsPrice">¥{{items.price}}</span>
          </div>
          <div class="order_GoodsNum">数量:{{items.num}}</div>
        </div>
      </div>
      <div class="orderDetails">
        <div class="orderDetails_l">
          <div class="orderDetails_l_in">下单时间</div>
          <div class="orderDetails_l_in">订单状态</div>
          <div class="orderDetails_l_in">实付款</div>
        </div>
        <div class="orderDetails_r">
          <div class="orderDetails_r_in">{{item.createTime}}</div>
          <div class="orderDetails_r_in">{{item.stateName}}</div>
          <div class="orderDetails_r_in">¥{{item.totalPrice}}</div>
        </div>
      </div>
      <!--<div class="unPay" *ngIf="item.stateName === '未支付'">-->
        <!--<img src="../../../../../assets/icon/payIcon.png" class="unPay_img" (click)="pay(item)">-->
      <!--</div>-->
      <div class="unPay">
        <div class="refund-btn" (click)="applyRefund(item)" *ngIf="item.stateName === '已支付'">申请退款</div>
        <div class="unPay_img" (click)="pay(item)" *ngIf="item.stateName === '未支付'">去支付</div>
        <div class="details" (click)="detail(item.payCode)">查看详情</div>
        <!--<img src="../../../../../assets/icon/payIcon.png" class="unPay_img" (click)="pay(item)">-->
      </div>
    </div>
  </div>
  <!--申请退款-->
  <div class="applyRefund" [hidden]="id !== '3'">
    <div class="order-style">
      <div class="order-layout" *ngFor="let item of orderItemList">
        <div class="left order-img">
          <img style="width: 80px;height: 80px; display: block" [src]="imgUrl+item.pic">
        </div>
        <div class="left order-detail">
        <span class="span-style name-style" style="">
          {{item.itemName}}
        </span>
          <span style="font-size: 12px;">产品数量：{{item.num}}</span>
        </div>
      </div>
    </div>
    <div class="refund-select">
      <div class="left">
      <span class="span-style">退款金额：<span style="color: #3E85FF; font-size: 16px;">￥
        <input type="text" [(ngModel)]="refundPrice" style="border: none;">
      </span></span>
      </div>
      <div class="right">
        <span style="font-size: 12px;">最多￥{{maxPrice}}</span>
      </div>
      <div class="clear-fix"></div>
    </div>
    <div class="refund-info">
      <span class="span-style">退款原因：</span>
      <textarea name="more" class="text-style" [(ngModel)]="refundReason" placeholder="请您详细的填写退款说明，10-170个字，以便客服为您尽快处理"></textarea>
    </div>
    <div style="height: 120px;"></div>
    <div class="footer-btn">
      <button nz-button class="but-style" (click)="applySubmit()">提交</button>
    </div>
  </div>
  <!--优惠券-->
  <div id="contents" class="content" [hidden]="id !== '2'">
    <div class="layout">
      <div class="card" *ngFor="let item of couponEffectiveList">
        <div style="float: left;margin-top: 20px" *ngIf="(item.type === 1)">
          <h2 style="color: white"><span style="font-size: 14px;">￥</span>{{item.deductionMoney}}</h2>
          <span style="font-size: 12px;margin-left: 10px">满{{item.money}}减{{item.deductionMoney}}</span>
        </div>
        <!--固定-->
        <div style="float: left;margin-top: 20px" *ngIf="(item.type === 2)">
          <h2 style="color: white"><span style="font-size: 14px;">￥</span>{{item.deductionMoney}}</h2>
          <span style="font-size: 12px;margin-left: 10px">立减券</span>
        </div>
        <!--折扣-->
        <div style="float: left;margin-top: 20px" *ngIf="(item.type === 3)">
          <h2 style="color: white">{{item.deductionMoney}}<span style="font-size: 12px;margin-left: 2px;">折</span></h2>
          <span style="font-size: 12px;margin-left: 10px">折扣券</span>
        </div>
        <div style="float: left;margin-left:5px;margin-top: 5px">
          <span style="float: left">{{item.name}}</span>
          <br>
          <span style="float: left;font-size: 12px">限{{toDate(item.startTime)}}至{{toDate(item.endTime)}}使用</span>
          <br>
          <span style="float: left;margin-top: 15px;font-size: 12px">仅限购买特殊商品使用</span>
        </div>
        <br>
        <div class="line"></div>
        <span class="use">未使用</span>
      </div>
      <div class="footer">
        已经到底~
      </div>
    </div>
  </div>
  <div class="js_dialog" id="androidDialog2" [class]="detailVisible ? 'mask-visible' : 'mask-invisible'">
    <div class="weui-mask"></div>
    <div class="weui-dialog weui-skin_android">
      <div class="weui-dialog__bd">
        <span>门号:{{doorNO}}</span>
        <br>
        <br>
        <span>购买数量:{{num}}</span>
        <br>
        <br>
        <span>开门时间:{{openedTime}}</span>
        <br>
        <br>
        <span>关门时间:{{closedTime}}</span>
      </div>
      <div class="weui-dialog__ft">
        <a (click)="closeDetail()" href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary">关闭</a>
      </div>
    </div>
  </div>
</div>
