<div id="containers" class="containers">
<div class="title">
<span>{{title}}</span>
</div>
<div id="content" class="content">
  <!--<nz-collapseset>-->
      <!--<nz-collapse class="nz-collapse"  [nzTitle]="'订单号:123165726542313'" [nzActive]="true"-->
                   <!--[nzDisabled]="false">-->
        <!--<div nz-row [nzType]="'flex'" [nzJustify]="'space-around'" [nzAlign]="'middle'">-->
          <!--<div nz-col [nzSpan]="20">-->
            <!--<p>下单时间</p>-->
            <!--<p>农夫山泉5L</p>-->
            <!--<p>单价：6元</p>-->
            <!--<p>数量：1</p>-->
            <!--<p>总价：6元</p>-->
          <!--</div>-->
          <!--<div  nz-col [nzSpan]="4">-->
            <!--<button nz-button [nzType]="'primary'">-->
              <!--<span>支付</span>-->
            <!--</button>-->
          <!--</div>-->
        <!--</div>-->
      <!--</nz-collapse>-->
      <!--<nz-collapse class="nz-collapse"  [nzTitle]="'订单号:123165726542313'" [nzActive]="true"-->
                   <!--[nzDisabled]="false">-->
        <!--<div nz-row [nzType]="'flex'" [nzJustify]="'space-around'" [nzAlign]="'middle'">-->
          <!--<div nz-col [nzSpan]="20">-->
            <!--<p>下单时间</p>-->
            <!--<p>农夫山泉5L</p>-->
            <!--<p>单价：6元</p>-->
            <!--<p>数量：1</p>-->
            <!--<p>总价：6元</p>-->
          <!--</div>-->
          <!--<div style="margin-top: 19%;" nz-col [nzSpan]="4">-->
            <!--<button nz-button [nzType]="'primary'">-->
              <!--<span>支付</span>-->
            <!--</button>-->
          <!--</div>-->
        <!--</div>-->
      <!--</nz-collapse>-->
      <!--<nz-collapse class="nz-collapse"  [nzTitle]="'订单号:123165726542313'" [nzActive]="true"-->
                   <!--[nzDisabled]="false">-->
        <!--<div nz-row [nzType]="'flex'" [nzJustify]="'space-around'" [nzAlign]="'middle'">-->
          <!--<div nz-col [nzSpan]="20">-->
            <!--<p>下单时间</p>-->
            <!--<p>农夫山泉5L</p>-->
            <!--<p>单价：6元</p>-->
            <!--<p>数量：1</p>-->
            <!--<p>总价：6元</p>-->
          <!--</div>-->
          <!--<div style="margin-top: 19%;" nz-col [nzSpan]="4">-->
            <!--<button nz-button [nzType]="'primary'">-->
              <!--<span>支付</span>-->
            <!--</button>-->
          <!--</div>-->
        <!--</div>-->
      <!--</nz-collapse>-->
      <!--<nz-collapse class="nz-collapse"  [nzTitle]="'订单号:123165726542313'" [nzActive]="true"-->
                   <!--[nzDisabled]="false">-->
        <!--<div nz-row [nzType]="'flex'" [nzJustify]="'space-around'" [nzAlign]="'middle'">-->
          <!--<div nz-col [nzSpan]="20">-->
            <!--<p>下单时间</p>-->
            <!--<p>农夫山泉5L</p>-->
            <!--<p>单价：6元</p>-->
            <!--<p>数量：1</p>-->
            <!--<p>总价：6元</p>-->
          <!--</div>-->
          <!--<div style="margin-top: 19%;" nz-col [nzSpan]="4">-->
            <!--<button nz-button [nzType]="'primary'">-->
              <!--<span>支付</span>-->
            <!--</button>-->
          <!--</div>-->
        <!--</div>-->
      <!--</nz-collapse>-->
  <!--</nz-collapseset>-->
    <div style="background: white;padding: 5px;margin: 5px;border-radius: 3px;">
      <span>title</span>
      <br>
      <hr>
      <div nz-row [nzType]="'flex'" [nzJustify]="'space-around'" [nzAlign]="'middle'">
        <div nz-col [nzSpan]="20">
          <p>下单时间</p>
          <p>农夫山泉5L</p>
          <p>单价：6元</p>
          <p>数量：1</p>
          <p>总价：6元</p>
        </div>
        <div  nz-col [nzSpan]="4">
          <button nz-button [nzType]="'primary'">
            <span>支付</span>
          </button>
        </div>
      </div>
    </div>
  <div style="background: white;padding: 5px;margin: 5px">
    <span>title</span>
    <div nz-row [nzType]="'flex'" [nzJustify]="'space-around'" [nzAlign]="'middle'">
      <div nz-col [nzSpan]="20">
        <p>下单时间</p>
        <p>农夫山泉5L</p>
        <p>单价：6元</p>
        <p>数量：1</p>
        <p>总价：6元</p>
      </div>
      <div  nz-col [nzSpan]="4">
        <button nz-button [nzType]="'primary'">
          <span>支付</span>
        </button>
      </div>
    </div>
  </div>
  <div style="background: white;padding: 5px;margin: 5px">
    <span>title</span>
    <div nz-row [nzType]="'flex'" [nzJustify]="'space-around'" [nzAlign]="'middle'">
      <div nz-col [nzSpan]="20">
        <p>下单时间</p>
        <p>农夫山泉5L</p>
        <p>单价：6元</p>
        <p>数量：1</p>
        <p>总价：6元</p>
      </div>
      <div  nz-col [nzSpan]="4">
        <button nz-button [nzType]="'primary'">
          <span>支付</span>
        </button>
      </div>
    </div>
  </div>
  <div style="background: white;padding: 5px;margin: 5px">
    <span>title</span>
    <div nz-row [nzType]="'flex'" [nzJustify]="'space-around'" [nzAlign]="'middle'">
      <div nz-col [nzSpan]="20">
        <p>下单时间</p>
        <p>农夫山泉5L</p>
        <p>单价：6元</p>
        <p>数量：1</p>
        <p>总价：6元</p>
      </div>
      <div  nz-col [nzSpan]="4">
        <button nz-button [nzType]="'primary'">
          <span>支付</span>
        </button>
      </div>
    </div>
  </div>
  <div style="background: white;padding: 5px;margin: 5px">
    <span>title</span>
    <div nz-row [nzType]="'flex'" [nzJustify]="'space-around'" [nzAlign]="'middle'">
      <div nz-col [nzSpan]="20">
        <p>下单时间</p>
        <p>农夫山泉5L</p>
        <p>单价：6元</p>
        <p>数量：1</p>
        <p>总价：6元</p>
      </div>
      <div  nz-col [nzSpan]="4">
        <button nz-button [nzType]="'primary'">
          <span>支付</span>
        </button>
      </div>
    </div>
  </div>
  <div style="background: white;padding: 5px;margin: 5px">
    <span>title</span>
    <div nz-row [nzType]="'flex'" [nzJustify]="'space-around'" [nzAlign]="'middle'">
      <div nz-col [nzSpan]="20">
        <p>下单时间</p>
        <p>农夫山泉5L</p>
        <p>单价：6元</p>
        <p>数量：1</p>
        <p>总价：6元</p>
      </div>
      <div  nz-col [nzSpan]="4">
        <button nz-button [nzType]="'primary'">
          <span>支付</span>
        </button>
      </div>
    </div>
  </div>
  <div style="background: white;padding: 5px;margin: 5px">
    <span>title</span>
    <div nz-row [nzType]="'flex'" [nzJustify]="'space-around'" [nzAlign]="'middle'">
      <div nz-col [nzSpan]="20">
        <p>下单时间</p>
        <p>农夫山泉5L</p>
        <p>单价：6元</p>
        <p>数量：1</p>
        <p>总价：6元</p>
      </div>
      <div  nz-col [nzSpan]="4">
        <button nz-button [nzType]="'primary'">
          <span>支付</span>
        </button>
      </div>
    </div>
  </div>
</div>

  <div class="footer"><span>总价:{{totalPrice}}</span></div>
</div>
